In [3]:
import pymc as pm
import numpy as np
import arviz as az
import pandas as pd

%load_ext lab_black
%load_ext watermark

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black
The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark

# Simvastatin

This example demonstrates ...

Adapted from [unit 7: simvastatin.odc](https://raw.githubusercontent.com/areding/6420-pymc/main/original_examples/Codes4Unit7/simvastatin.odc).

Data can be found [here](https://raw.githubusercontent.com/areding/6420-pymc/main/data/simvastatin_data.txt).


## Associated lecture video: Unit 7 Lesson 9

In [2]:
%%html
<iframe width="560" height="315" src="https://www.youtube.com/embed?v=xomK4tcePmc&list=PLv0FeK5oXK4l-RdT6DWJj0_upJOG2WKNO&index=71" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

## Problem statement
In a quantitative physiology lab II at Georgia Tech, students were asked to find a therapeutic model to test on MC3T3-E1 cell line to enhance osteoblastic growth. The students found a drug called Simvastatin, a cholesterol lowering drug to test on these cells. Using a control and three different concentrations: 10^-9, 10*-8 and 10-7 M, cells were treated with the drug. These cells were plated on four, 24 well plates with each well plate having a different treatment. To test for osteoblastic differentiation an assay, pNPP, was used to test for alkaline phosphatase activity. The higher the alkaline phosphatase activity the better the cells are differentiating, and become more bone like. This assay was performed 6 times total within 11 days. Each time the assay was performed, four wells from each plate were used.

In [7]:
data = pd.read_csv("../data/simvastatin_data.tsv", sep="\t")

In [8]:
data

      apa  conc  time
0   0.062     1     1
1   0.517     1     1
2   0.261     1     1
3   0.154     1     1
4   0.071     2     1
..    ...   ...   ...
91  0.085     3     6
92  0.290     4     6
93  0.090     4     6
94  0.518     4     6
95  0.071     4     6

[96 rows x 3 columns]

In [ ]:
with pm.Model() as m: